<!-- WELCOME -->
<section
  class=" py-5 content-img-fluid"
  id="welcome"
  data-jarallax
  data-speed=".8"
>
  <div class="container">
    <!-- Heading -->
    <div class="row justify-content-md-center">
      <div class="col-12">
        <h1 class="text-white text-center" style="font-size: xxx-large">LOVE :: WEAR :: RETURN :: REPEAT</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-8">
        <p class="text-lg-center text-white" style="font-size: x-large">
          The 2nd Closet Club is a shared wardrobe in Ireland that will have your back on every occasion. Join the
          circular economy and rent instead of buying.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="text-white">
          <a href="#!" (click)="register()" class="btn btn-primary">I want to join</a>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- BEST SELLERS -->
<section class="pt-12 pb-10" id="products" href="#products">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">OUR CLOSET</h6>

        <!-- Heading -->
        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-8">
            <h2 class="text-center">A wardrobe curated for you to feel good every day.</h2>

          </div>
        </div>

        <!-- Subheading -->
        <div class="row">
          <div class="col-2">

          </div>
          <div class="col-8">
            <p class="mb-10 text-gray-500">
              Rent something to impress in an interview, on a date, or at your friend's birthday party.
              Get your holiday suitcase with us and be ready for your social media pictures and summer memories.
            </p>
          </div>
        </div>


        <swiper [config]="config" class="mySwiper">
          <ng-template *ngFor="let product of products$ | async | slice:0:10 ; let index = index" swiperSlide>
            <img
              style="width: 100%"
              [src]="product.imgCover.url"
              [routerLink]="['/product', product.id]"
            />
          </ng-template>
        </swiper>
        <div class="row">
          <div class="col-5">
          </div>
          <div class="col-2">
            <div class="btn-sm btn-dark">Shop</div>
          </div>
          <div class="col-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- HOW IT WORKS -->
<section class="pt-6 pb-6"></section>
<section class="py-12 " id="howItWorks">
  <div class="container text-white">
    <div class="row pb-8">
      <div class="col-12">
        <!-- Heading -->
        <h6 class="mb-0 text-center">How It Works</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">
          <!-- Icon -->
          <div
            class="card-img-top position-relative mx-auto"
            style="max-width: 120px"
          >
            <!-- Feather Icon-->
            <i-feather name="heart" class="big text-white"></i-feather>
          </div>

          <!-- Body -->
          <div class="card-body text-center">
            <!-- Heading -->
            <h6 class="mb-4 text-white">
              Join the club
            </h6>

            <!-- Text -->
            <p class="mb-0" >
              Make your account and browse our shop to book what you love.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">
          <!-- Icon -->
          <div
            class="card-img-top position-relative mx-auto"
            style="max-width: 120px"
          >
            <!-- Feather Icon-->
            <i-feather name="calendar" class="big text-white"></i-feather>
          </div>

          <!-- Body -->
          <div class="card-body text-center">
            <!-- Heading -->
            <h6 class="mb-4 text-white pl-8 pr-8">
              Book what you love
            </h6>

            <!-- Text -->
            <p class="mb-0" >
              You will receive your order by post in our reusable package
              ( keep it for return ;)
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">
          <!-- Icon -->
          <div
            class="card-img-top position-relative mx-auto"
            style="max-width: 120px"
          >
            <!-- Feather Icon-->
            <i-feather name="repeat" class="big text-white"></i-feather>
          </div>

          <!-- Body -->
          <div class="card-body text-center">
            <!-- Heading -->
            <h6 class="mb-4 text-white pl-8 pr-8">
              Return and Repeat
            </h6>

            <!-- Text -->
            <p class="mb-0" >
              Return the clothes in 20 days. Don’t worry about cleaning, we will take care of it!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">
          <!-- Icon -->
          <div
            class="card-img-top position-relative mx-auto"
            style="max-width: 120px"
          >
            <!-- Feather Icon-->
            <i-feather name="briefcase" class="big text-white"></i-feather>
          </div>

          <!-- Body -->
          <div class="card-body text-center">
            <!-- Heading -->
            <h6 class="mb-4 text-white pl-8 pr-8">
              Going on holiday?
            </h6>

            <!-- Text -->
            <p class="mb-0" >
              We have a special Holiday Suitcase service to make you ready for any destination.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="py-12" id = possibilities>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-5 order-md-1">

        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">
          WHY SHOULD I JOIN THE CLUB?
        </h6>

        <!-- Heading -->
        <h2 class="mb-7">Your possibilities multiply when you share.</h2>

        <!-- Text -->
        <p class="fs-lg text-muted">
          Experiment with combining our carefully curated inventory with what you have at home and open your possibilities of combinations without buying more stuff.
          You can also share your ideas and explorations in our club meetings where you can see what’s new in the closet, learn more about fashion, have a good time with friends, and meet other fashion lovers.
        </p>
        <div class="row pt-8">
          <div class="col-7">
          </div>
          <div class="col-5">
            <a class="text-right text-decoration-underline text-muted">
              More about the club
            </a>
          </div>
        </div>


      </div>
      <div class="col-12 col-md-6 order-md-2 text-end">

        <!-- Image -->
        <img src="../../assets/img/main_v2/Why_small.jpg" alt="..." class="img-fluid w-50">

        <!-- Image -->
        <div class="text-start mt-n13 mt-lg-n15 mb-10 mb-md-0">
          <img src="../../assets/img/main_v2/why_big.jpg" alt="..." class="img-fluid w-75">
        </div>

      </div>
    </div>
  </div>
</section>
<section id="survey">
  <div class="container bg-primary bg-pattern py-14 text-white">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <h2>What would you like to see in our wardrobe?
          </h2>
        <!-- Text -->
        <p class="fs-5 lh-base text-center mb-0">
          We have created a quick survey to understand more about how to build the best wardrobe for you.
          Could you help us answer it? It’s only 10 min.
        </p>


      </div>
    </div>
    <div class="row justify-content-center pt-8">
      <div class="col-12 text-center">
        <a>Answer the survey</a>
        <i-feather name="arrow-right" class="small text-white"></i-feather>

      </div>
    </div>
  </div>
</section>
<!-- BEST PICKS -->
<section class="pt-14 pb-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">Before & after</h6>

        <!-- Heading -->
        <h2 class="mb-4">How is your wardrobe looking?</h2>

        <!-- Subheading -->
        <p class="mb-10 text-gray-500">
          Do you see clothes that were used only once (or never) piling up on the back next to ones that don’t fit your body or lifestyle anymore?
          Optimize your space! Invest in your favorites and basic everyday wear, and leave all the rest with us.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <!-- Card -->
        <div class="card">
          <!-- Badge -->
          <div
            class="badge badge-white card-badge card-badge-left text-uppercase"
          >
            Before
          </div>

          <!-- Badge -->
          <div
            class="badge badge-white card-badge card-badge-right text-uppercase"
          >
            After
          </div>

          <!-- Comparision -->
          <div class="img-comp">
            <!-- Back -->
            <div class="img-comp-back">
              <img
                src="../../assets/img/homepage/After.jpg"
                alt="..."
                class="img-comp-img"
              />
            </div>

            <!-- Front -->
            <div class="img-comp-front">
              <img
                src="../../assets/img/homepage/Before.jpg"
                alt="..."
                class="img-comp-img"
              />
            </div>

            <!-- Handle -->
            <div class="img-comp-handle btn btn-sm btn-circle btn-white">
              <i class="fe fe-arrow-left"></i>
              <i class="fe fe-arrow-right"></i>
            </div>

            <!-- Input -->
            <input class="img-comp-input" type="range"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-subscribe><!--

&lt;!&ndash; PRICING &ndash;&gt;
<section class="py-12 bg-light" id="membership">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        &lt;!&ndash; Preheading &ndash;&gt;
        <h6 class="heading-xxs mb-3 text-gray-400">Membership</h6>

        &lt;!&ndash; Heading &ndash;&gt;
        <h2 class="mb-10">Plans that fit to your wardrobe</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-12 col-lg-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-lg shadow mb-7 mb-lg-0">
          &lt;!&ndash; Context &ndash;&gt;
          <div class="card-body border-bottom text-center">
            &lt;!&ndash; Subheading &ndash;&gt;
            <h5>Casual</h5>

            &lt;!&ndash; Heading &ndash;&gt;
            <h2 class="mb-0 font-weight-bolder text-primary">€65.00</h2>
            <p class="text-primary">2 months membership</p>
          </div>
          <div class="card-body">
            &lt;!&ndash; Text &ndash;&gt;
            <p class="text-muted">
              Rent ONE PIECE, enjoy it, mix and match with your wardrobe and
              then come back for a new piece.
            </p>

            &lt;!&ndash; List &ndash;&gt;
            <ul class="list-styled mb-8">
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Keep it for up to 7
                days.
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Free laundry
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Book up to 4 pieces
                every month.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        &lt;!&ndash; Card &ndash;&gt;
        <div class="card card-lg shadow">
          <div class="card-body border-bottom text-center">
            &lt;!&ndash; Subheading &ndash;&gt;
            <h5>Chic</h5>

            &lt;!&ndash; Heading &ndash;&gt;
            <h2 class="mb-0 font-weight-bolder">€120.00</h2>
            <p>2 months membership</p>
          </div>
          <div class="card-body pb-9">
            &lt;!&ndash; Text &ndash;&gt;
            <p class="text-muted">
              Never get bored of your wardrobe. Rent up to TWO PIECES at a time.
            </p>

            &lt;!&ndash; List &ndash;&gt;
            <ul class="list-styled mb-8">
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Keep it for up to 7
                days
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Free laundry
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Book up to 8 pieces
                every month
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>
-->

<!-- GET STARTED -->
<section class="pt-12 pb-6" id="getStarted">

  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col">
        <!-- Image -->
        <img
          src="../../assets/img/homepage/product-105.jpg"
          alt="..."
          class="img-fluid"
        />
      </div>
      <div class="col d-none d-md-block">
        <!-- Image -->
        <img
          src="../../assets/img/homepage/product-106.jpg"
          alt="..."
          class="img-fluid"
        />
      </div>
      <div class="col">
        <!-- Image -->
        <img
          src="../../assets/img/homepage/product-107.jpg"
          alt="..."
          class="img-fluid"
        />
      </div>
      <div class="col d-none d-md-block">
        <!-- Image -->
        <img
          src="../../assets/img/homepage/product-108.jpg"
          alt="..."
          class="img-fluid"
        />
      </div>
      <div class="col">
        <!-- Image -->
        <img
          src="../../assets/img/homepage/product-109.jpg"
          alt="..."
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
