<!-- CONTENT -->
<section class="pt-7 pb-12">
  <div class="container mb-7 mt-7">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Heading -->
        <h3 class="mb-10 text-center">Frequently Asked Questions</h3>

        <!-- List group -->
        <ul
          class="list-group list-group-flush-x mb-9"
          id="faqCollapseParentOne"
        >
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseOne"
            >
              1. Where is the pick up address?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseOne"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-2 font-size-lg text-gray-500">
                  During your booking you can select one of two options:
                </p>
                <p class="mb-2 font-size-lg text-gray-500">
                  <b>Smithfield</b> - The meeting point is on Smithfield Square in front of the Lighthouse Cinema. Just let us before hand from what time best suit you between 9am to 7pm and we will do our best to match to your schedule. You can reach us though SMS, email, phone or WhatsApp.
                </p>
                <p class="mb-0 font-size-lg text-gray-500">
                  <b>Bragadeiros</b> - The store address is 1 Frenchman's Ln, Mountjoy, Dublin. Your collection will be available during the store work hours Monday to Friday from 11am to 6pm and on Saturdays from 11am to 4pm.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseTwo"
            >
              2. Where and when do I return my pieces?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseTwo"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  You can return your pieces anytime within 7 days in any of the 2 collection points. In case you choose to drop at Smithfield please contact us to set up a meeting time.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseThree"
            >
              3. Can I return and pick up new pieces at the same time?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseThree"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  Yes! You can return your previous booking on the day and time
                  you booked your collection.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseFour"
            >
              4. Do I have to wash or dry clean my items?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseFour"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  No need to clean your items on your own. We take care of that
                  for you!
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseFive"
            >
              5. What if I accidentally stain or damage the clothes?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseFive"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  We understand that some wear and tear are inevitable. We do
                  our best to repair the garments without extra charges.
                  However, significant damage, loss of the item, and theft
                  aren't covered. If the item is damaged beyond repair or never
                  returned, you will be charged a fee equivalent to the full
                  retail price of the item.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseSix"
            >
              6. Can I keep the clothes if I really like them?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseSix"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  Unfortunately, no. But you can book your favorite ones as many
                  times as you want.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseSeven"
            >
              7. I missed my return date, what happens?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseSeven"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  After 7 days of your collection date, a late fee of € 1.00 per
                  day per garment is applied. Also, your account is blocked for
                  new bookings until the pieces are returned. After 30 days the
                  garment is considered never returned, and a fee equivalent to
                  the full retail price of the item will be charged.
                </p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <!-- Toggle -->
            <p
              class="dropdown-toggle d-block font-size-lg font-weight-bold text-reset"
              data-bs-toggle="collapse"
              href="#faqCollapseEight"
            >
              8. Can I rent a single piece?
            </p>

            <!-- Collapse -->
            <div
              class="collapse"
              id="faqCollapseEight"
              data-parent="#faqCollapseParentOne"
            >
              <div class="mt-5">
                <p class="mb-0 font-size-lg text-gray-500">
                  Sorry. We don’t have single rental options.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <p class="text-center font-size-lg font-weight-bold">
          Any other questions? <a routerLink="/contact">Contact us!</a>
        </p>
      </div>
    </div>
  </div>
</section>
