<nav class="mb-10 mb-md-0">
  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
    <a
      class="list-group-item list-group-item-action dropright-toggle"
      routerLink="/account/orders"
    >
      Orders
    </a>
    <a
      class="list-group-item list-group-item-action dropright-toggle"
      routerLink="/account/membership"
    >
      Membership
    </a>
    <a
      class="list-group-item list-group-item-action dropright-toggle"
      routerLink="/account/personal"
    >
      Personal Info
    </a>
    <a
      class="list-group-item list-group-item-action dropright-toggle"
      (click)="logout()"
    >
      Logout
    </a>
  </div>
</nav>
