
<div *ngIf="product" class="fix-overlap">
  <!-- PRODUCT -->

  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6">
              <app-product-carousel [imagesAgain]="product.images" [coverImage]="product.imgCover"></app-product-carousel>

              <!--
                            &lt;!&ndash; Card &ndash;&gt;
                            <div class="card">

                              &lt;!&ndash; Badge &ndash;&gt;
                              <div class="badge badge-primary card-badge text-uppercase">
                                Sale
                              </div>

                              &lt;!&ndash; Slider &ndash;&gt;
                              <div class="mb-4"
                                   data-flickity='{"draggable": false, "fade": true, "pageDots": false, "prevNextButtons": false}'
                                   id="productSlider">


                                &lt;!&ndash;                <a href="{{product.coverImg.path}}" *ngIf="product.coverImg"data-fancybox>&ndash;&gt;
                                &lt;!&ndash;                  <img class="card-img-top" [src]=product.coverImg.path *ngIf="product.coverImg" alt="Product Image">&ndash;&gt;
                                &lt;!&ndash;                </a>&ndash;&gt;
                                &lt;!&ndash;                <a href="{{defaultImageUrl}}" *ngIf="!product.coverImg" data-fancybox>&ndash;&gt;
                                &lt;!&ndash;                  <img class="card-img-top" [src]=defaultImageUrl *ngIf="!product.coverImg" alt="Product Image Default">&ndash;&gt;
                                &lt;!&ndash;                </a>&ndash;&gt;
                                &lt;!&ndash; Item &ndash;&gt;
                                <a href="assets/img/products/product-122.jpg" data-fancybox>
                                  <img src="assets/img/products/product-122.jpg" alt="..." class="card-img-top">
                                </a>

                                &lt;!&ndash; Item &ndash;&gt;
                                <a href="assets/img/products/product-146.jpg" data-fancybox>
                                  <img src="assets/img/products/product-146.jpg" alt="..." class="card-img-top">
                                </a>

                              </div>

                            </div>

                            &lt;!&ndash; Slider &ndash;&gt;
                            <div class="flickity-nav mx-n2 mb-10 mb-md-0"
                                 data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false, "prevNextButtons": false, "pageDots": false} '>

                              &lt;!&ndash; Item &ndash;&gt;
                              <div class="col-12 px-2" style="max-width: 113px;">

                                &lt;!&ndash; Image &ndash;&gt;
                                <div class="embed-responsive embed-responsive-1by1 bg-cover"
                                     style="background-image: url(assets/img/products/product-7.jpg);"></div>

                              </div>

                              &lt;!&ndash; Item &ndash;&gt;
                              <div class="col-12 px-2" style="max-width: 113px;">

                                &lt;!&ndash; Image &ndash;&gt;
                                <div class="embed-responsive embed-responsive-1by1 bg-cover"
                                     style="background-image: url(assets/img/products/product-122.jpg);"></div>

                              </div>

                              &lt;!&ndash; Item &ndash;&gt;
                              <div class="col-12 px-2" style="max-width: 113px;">

                                &lt;!&ndash; Image &ndash;&gt;
                                <div class="embed-responsive embed-responsive-1by1 bg-cover"
                                     style="background-image: url(assets/img/products/product-146.jpg);"></div>

                              </div>

                            </div>
              -->

            </div>
            <div class="col-12 col-md-6 pl-lg-10">

<!--              &lt;!&ndash; Header &ndash;&gt;
              <div class="row mb-1">
                <div class="col">

                  &lt;!&ndash; Preheading &ndash;&gt;
                  <a class="text-muted" href="shop.html">{{product.category.name}}</a>

                </div>
              </div>-->

              <!-- Heading -->
              <h3 class="mb-2">{{product.name}}</h3>

              <!-- Description -->
              <p class="mb-2 text-muted">{{product.quickDesc}}</p>

              <br/>
              <!-- Form -->
              <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Size:</label>
                  <!-- Radio -->
                  <div class="mb-2">
                    <div *ngIf="submitted">
                      <div>Size is required</div>
                    </div>
                    <div *ngFor="let size of product.sizes" class="custom-control custom-control-inline custom-control-size mb-2">
                      <input type="radio"  name="size" formControlName="size"  class="custom-control-input form-control"  id="{{'sizeRadio'+size.id}}" value="{{size.id}}" checked data-toggle="form-caption">
                      <label class="custom-control-label" for="{{'sizeRadio'+size.id}}">{{sizes[size.id.valueOf()].name}}</label>
                    </div>
                  </div>
                </div>

                  <div class="container">

                    <div class="form-row">
                      <div class="col-6">
                        <div class=" theme-default">
                          <div class="row ">
                            <div class="form-group">
                              <input
                                formControlName="orderDate"
                                type="text"
                                placeholder="Pickup Date"
                                class="form-control border-dark"
                                bsDatepicker
                                [bsConfig]="{ isAnimated: true, containerClass : 'theme-default'}"
                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                [minDate]="minDate"
                                [maxDate]="maxDate">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="btn-group dropdown">

                          <!-- Toggle -->
                          <button class="btn btn-sm btn-block btn-outline-border border-dark dropdown-toggle" data-toggle="dropdown"
                                  data-display="static">
                            Collection Place
                          </button>

                          <!-- Menu -->
                          <div class="dropdown-menu">
                            <div class="card">
                              <div class="card-body">

                                <!-- Form group -->
                                <div class="form-group-overflow">
                                  <div class="custom-control custom-radio mb-3">
                                    <input class="custom-control-input" formControlName="dispatch" id="categoryOne" type="radio" value="Smithfield 8am to 9am">
                                    <label class="custom-control-label" for="categoryOne">Smithfield 8am to 9am</label>
                                  </div>
                                  <div class="custom-control custom-radio mb-3">
                                    <input class="custom-control-input" formControlName="dispatch" id="categoryTwo"  type="radio" value="Smithfield 1pm to 2pm">
                                    <label class="custom-control-label" for="categoryTwo">Smithfield 1pm to 2pm</label>
                                  </div>
                                  <div class="custom-control custom-radio mb-3">
                                    <input class="custom-control-input" formControlName="dispatch" id="categoryThree" type="radio" value="Smithfield 6pm to 7pm">
                                    <label class="custom-control-label" for="categoryThree">Smithfield 6pm to 7pm</label>
                                  </div>
                                </div>

                              </div>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row mb-7">
<!--                    <div class="col-12 col-lg-auto">
                      &lt;!&ndash; Wishlist &ndash;&gt;
                      <button class="btn btn-outline-dark btn-block mb-2" data-toggle="button">
                        Wishlist <i class="fe fe-heart ml-2"></i>
                      </button>
                    </div>-->
                    <div class="col-6 ">

                      <!-- Submit -->
                      <div *ngIf="isLoggedIn">
                        <button type="submit"  class="btn btn-block btn-dark mb-2"  [disabled]="this.isMemberInfoBtnVis" data-toggle="modal" href="#modalMemberSlowDown" >
                          Book it <i class="fe fe-shopping-cart ml-2"></i>
                        </button>
                      </div>
                      <div *ngIf="!isLoggedIn">
                        <button type="button"  class="btn btn-block btn-dark mb-2"  data-toggle="modal" (click)="register()" >
                          Sign Up
                        </button>
                      </div>


                    </div>
                  </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- DESCRIPTION -->
  <section class="pt-11 pb-15">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Nav -->
          <div class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom">
            <a class="nav-link active" data-toggle="tab" href="#descriptionTab">
              Description
            </a>
            <a class="nav-link" data-toggle="tab" href="#sizeTab">
              Size & Fit
            </a>
            <a class="nav-link" data-toggle="tab" href="#washInfo">
              Wash & Care
            </a>
          </div>

          <!-- Content -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="descriptionTab">
              <div class="row justify-content-center py-9">
                <div class="col-12 col-lg-10 col-xl-8">
                  <div class="row">
                    <div class="col-12">

                      <!-- Text -->
                      <p class="text-gray-500">
                        {{product.description}}
                      </p>

                    </div>
                    <div class="col-12 col-md-6">

                      <!-- List -->
                      <ul class="list list-unstyled mb-0">
                        <li>
                          <strong>Material</strong>:{{product.material}}
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="sizeTab">
              <div class="row justify-content-center py-9">
                <div class="col-12 col-lg-10 col-xl-8">
                  <div class="row">
                    <div class="col-12 col-md-6">

                      <!-- Text -->
                      <p class="mb-4">
                        <strong>Fitting information:</strong>
                      </p>

                      <!-- Text -->
                      <p class="text-gray-500">
                        {{product.fittingInfo}}
                      </p>

                    </div>
                    <div class="col-12 col-md-6">

                      <!-- Text -->
                      <p class="mb-4">
                        <strong>Model measurements:</strong>
                      </p>
                      <!-- List -->
                      <ul class="list-unstyled text-gray-500">
                        <li>Height: {{product.measurements.length}} cm</li>
                        <li>Bust/Chest: {{product.measurements.chest}} cm</li>
                        <li>Hips: {{product.measurements.hips}} cm</li>
                        <li>Waist: {{product.measurements.waist}} cm</li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="washInfo">
              <div class="row justify-content-center py-9">
                <div class="col-12 col-lg-10 col-xl-8">
                  <div class="row">
                    <div class="col-12 col-md-6">


                      <!-- Text -->
                      <p class="text-gray-500">
                        {{product.washInfo}}
                      </p>

                    </div>
                    <div class="col-12 col-md-6">

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
</div>

