<!-- WELCOME -->
<section class="py-14" id="welcome" data-jarallax data-speed=".8"
         [ngStyle]="{'backgroundImage':'url(assets/img/custom/cover-22.jpg)'}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-8 text-white">

        <!-- Heading -->
        <h1 class="display-10">
          Get a bigger wardrobe spending less
        </h1>

        <!-- Button -->
        <a href="#!" (click)="register()" class="btn btn-primary">
          Join the club
        </a>

      </div>
    </div>
  </div>
</section>

<!-- BEST SELLERS -->
<section class="pt-12 pb-10 " id="products" href="#products">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">
          PRODUCTS
        </h6>

        <!-- Heading -->
        <h2 class="text-center">What will you find in our closet?</h2>

        <!-- Subheading -->
        <p class="mb-10 text-gray-500">
          We want to give you the opportunity of playing with diferent styles and experiment the fun side of fashion
          without worrying about the price.
          Your second closet adapts to multiple occasions, from work to holiday without forgetting quality and
          comfort.</p>
        <carousel [itemsPerSlide]="itemsPerSlide"
                  [singleSlideOffset]="singleSlideOffset"
                  [interval]="0"
                  [noWrap]="noWrap">
          <slide *ngFor="let product of products$| async let index=index">
            <img class="img-carousel" [src]="product.imgCover.url" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <h4>{{product.name}}</h4>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

  </div>

</section>

<!-- ABOUT -->
<section class="py-12" id="about" data-jarallax data-speed=".8"
         style="background-image: url(assets/img/custom/cover-about.jpg);">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-7 col-lg-5">

        <!-- Card -->
        <div class="card">
          <div class="card-body p-10">

            <!-- Heading -->
            <h3 class="mb-6">About the club</h3>

            <!-- Text -->
            <p class="text-muted">
              The Second Closet Club is a shared wardrobe service that helps you enjoy more of the fashion world without
              cluttering your house.
            </p>
            <p class="text-muted">
              Our inventory is carefully selected so you can stay fashionable knowing someone is looking after the
              maintenance, quality, and environmental impact of what you wear. All you have to do is choose, enjoy, and
              return.
            </p>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- HOW IT WORKS -->
<section class="pt-6 pb-6"></section>
<section class="py-12 bg-dark bg-pattern" id="howItWorks">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Heading -->
        <h2 class="mb-10 text-center text-white">
          How it Works
        </h2>

      </div>
    </div>
    <div class="row pb-10">
      <div class="col-lg-4 text-center">

        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">

          <!-- Icon -->
          <div class="card-img-top position-relative mx-auto" style="max-width: 120px;">


            <!-- Feather Icon-->
            <i-feather name="heart" class="big text-white"></i-feather>


          </div>

          <!-- Body -->
          <div class="card-body text-center">

            <!-- Heading -->
            <h6 class="mb-4 text-white">
              Choose the pieces you like and book the pick up date.
            </h6>

            <!-- Text -->
            <p class="mb-0 text-gray-250">
              Collect 1 or 2 pieces every week accoding to your membership.
            </p>

          </div>

        </div>

      </div>
      <div class="col-lg-4 text-center">

        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">

          <!-- Icon -->
          <div class="card-img-top position-relative mx-auto" style="max-width: 120px;">

            <!-- Feather Icon-->
            <i-feather name="calendar" class="big text-white"></i-feather>

          </div>

          <!-- Body -->
          <div class="card-body text-center">

            <!-- Heading -->
            <h6 class="mb-4 text-white pl-8 pr-8">
              Enjoy your new piece up to 10 days.
            </h6>

            <!-- Text -->
            <p class="mb-0 text-gray-250">
              Book your favorite garments as many times as you want.
            </p>

          </div>

        </div>

      </div>
      <div class="col-lg-4  text-center">

        <!-- Card -->
        <div class="card bg-none mb-7 mb-md-0">

          <!-- Icon -->
          <div class="card-img-top position-relative mx-auto" style="max-width: 120px;">


            <!-- Feather Icon-->
            <i-feather name="corner-left-up" class="big text-white"></i-feather>

          </div>

          <!-- Body -->
          <div class="card-body text-center">

            <!-- Heading -->
            <h6 class="mb-4 text-white pl-8 pr-8">
              Return your pieces and collect new ones.
            </h6>

            <!-- Text -->
            <p class="mb-0 text-gray-250">
              Don’t worry about washing.
              We will take care of it!
            </p>

          </div>

        </div>

      </div>

    </div>
  </div>
</section>
<!-- INFO-->
<section class="bg-light pb-12">
  <div class="container">
    <div class="row no-gutters justify-content-between">
      <div class="col-12 col-md-6 mt-12 mb-n12 bg-cover"
           style="background-image: url(assets/img/custom/product-102.jpg);"></div>
      <div class="col-12 col-md-5 py-12">

        <!-- Heading -->
        <h3 class="mb-7">
          More than just Dressing Up
        </h3>

        <p>
          Our clothes tell a lot about who we are and how we see the world. Our garments reflect our personalities, lifestyles, and aspirations.
        </p>
        <p>
          We also live in a world of constant changes. Adapting our wardrobe to new routines and fashion trends often causes a vicious cycle of desire, buy, wear, and discard.
        </p>
        <p>
          The 2nd Closet Club comes as an option to break that cycle, showing there is a better way to enjoy fashion.
        </p>

      </div>
    </div>
  </div>
</section>
<!-- BEST PICKS -->
<section class="pt-12 pb-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">

        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">
          Before & after
        </h6>

        <!-- Heading -->
        <h2 class="mb-4">Dont waste your money and space</h2>

        <!-- Subheading -->
        <p class="mb-10 text-gray-500">
          We all have those pieces that were worn once (or never) piling up in the wardrobe.
          Optimize your wardrobe, you don’t need to buy everything you want to wear...
        </p>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">

        <!-- Card -->
        <div class="card">

          <!-- Badge -->
          <div class="badge badge-white card-badge card-badge-left text-uppercase">
            Before
          </div>

          <!-- Badge -->
          <div class="badge badge-white card-badge card-badge-right text-uppercase">
            After
          </div>

          <!-- Comparision -->
          <div class="img-comp">

            <!-- Back -->
            <div class="img-comp-back">
              <img src="assets/img/custom/before.jpg" alt="..." class="img-comp-img">
            </div>

            <!-- Front -->
            <div class="img-comp-front">
              <img src="assets/img/custom/after.jpg" alt="..." class="img-comp-img">
            </div>

            <!-- Handle -->
            <div class="img-comp-handle btn btn-sm btn-circle btn-white">
              <i class="fe fe-arrow-left"></i>
              <i class="fe fe-arrow-right"></i>
            </div>

            <!-- Input -->
            <input class="img-comp-input" type="range">

          </div>
        </div>

      </div>
    </div>
  </div>
</section>




<!--Empty for style-->
<div class="pb-12 pt-12">
</div>

<!-- PRICING -->
<section class="py-12 bg-light" id="membership">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Preheading -->
        <h6 class="heading-xxs mb-3 text-gray-400">
          Membership
        </h6>

        <!-- Heading -->
        <h2 class="mb-10">Plans that fit to your wardrobe</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-12 col-lg-4">

        <!-- Card -->
        <div class="card card-lg shadow mb-7 mb-lg-0">

          <!-- Context -->
          <div class="card-body border-bottom text-center">

            <!-- Subheading -->
            <h5>Casual</h5>

            <!-- Heading -->
            <h2 class="mb-0 font-weight-bolder text-primary">
              €80.00
            </h2>
            <p  class="text-primary">
              3 months membership
            </p>

          </div>
          <div class="card-body">

            <!-- Text -->
            <p class="text-muted">
              Borrow 1 piece every week to mix and match with your own and create new looks.
            </p>

            <!-- List -->
            <ul class="list-styled mb-8">
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Keep it for up to 10 days.
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Free laundry
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Book up to 4 pieces per month.
              </li>
            </ul>

          </div>

        </div>

      </div>
      <div class="col-12 col-lg-4">

        <!-- Card -->
        <div class="card card-lg shadow">
          <div class="card-body border-bottom text-center">

            <!-- Subheading -->
            <h5>Chic</h5>

            <!-- Heading -->
            <h2 class="mb-0 font-weight-bolder">
              €150
            </h2>
            <p>
              3 months membership
            </p>

          </div>
          <div class="card-body pb-9">

            <!-- Text -->
            <p class="text-muted">
              Borrow a full look, 2 pieces per week, and never get bored of your wardrobe.
            </p>

            <!-- List -->
            <ul class="list-styled mb-8">
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Keep it for up to 10 days
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Free laundry
              </li>
              <li class="list-styled-item">
                <i class="fe fe-check mr-2 text-primary"></i>Book up to 8 pieces every month
              </li>
            </ul>

          </div>
        </div>

      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>


<!-- GET STARTED -->
<section class="pt-12 pb-6" id="getStarted">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h2 class="mb-8">Ready to be part of our club?</h2>

        <!-- Button -->
        <a href="#!" class="btn btn-primary mb-10" (click)="register()">
          Join now!
        </a>

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col">

        <!-- Image -->
        <img src="assets/img/custom/product-105.jpg" alt="..." class="img-fluid">

      </div>
      <div class="col d-none d-md-block">

        <!-- Image -->
        <img src="assets/img/custom/product-106.jpg" alt="..." class="img-fluid">

      </div>
      <div class="col">

        <!-- Image -->
        <img src="assets/img/custom/product-107.jpg" alt="..." class="img-fluid">

      </div>
      <div class="col d-none d-md-block">

        <!-- Image -->
        <img src="assets/img/custom/product-108.jpg" alt="..." class="img-fluid">

      </div>
      <div class="col">

        <!-- Image -->
        <img src="assets/img/custom/product-109.jpg" alt="..." class="img-fluid">

      </div>
    </div>
  </div>
</section>
