<div class="row d-none d-sm-block">
  <div class="col-8 mx-auto">
    <!-- Form -->
    <form class="mb-11">
      <div class="row justify-content-center">
        <div class="col-6">
          <input type="email" class="form-control form-control-grey-700 form-control-lg" placeholder="Enter Email *">
        </div>
        <div class="col-2 text-center">
          <button type="submit" class="btn btn-danger btn-lg">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row d-md-none">
  <div class="col-8 mx-auto col-md-6">
    <!-- Form -->
    <form class="mb-11">
      <div class="row align-items-start">
        <div class="col-xs-8 col-sm-6">
          <input type="email" class="form-control form-control-grey-700 form-control-lg" placeholder="Enter Email *">
        </div>
        <div class="col-xs-12  d-md-none">
          <br>
        </div>
        <div class="col-xs-6 col-sm-4 text-center">
          <button type="submit" class="btn btn-danger btn-lg">Subscribe</button>
        </div>
      </div>
    </form>

  </div>
</div>
