<div *ngIf="this.isAdmin">
  <app-admin-navbar></app-admin-navbar>
</div>

<nav
  *ngIf="!this.isAdmin"
  class="navbar navbar-expand-md navbar-light bg-white border-bottom"
>
  <div class="container">
    <!-- Brand -->
    <img
      src="assets/img/custom/logo.jpg"
      alt="logo"
      class="img-fluid img-logo"
      [routerLink]="['/']"
    />

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLandingCollapse"
      aria-controls="navbarLandingCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarLandingCollapse">
      <!-- Nav -->
      <ul class="navbar-nav ml-xl-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            routerLinkActive="active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            >Browser</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            >How it Works</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            >FAQs</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            >Contact</a
          >
        </li>
        <div *ngIf="isLoggedIn && !isRegistrationPage">
          <li class="nav-item">
            <a class="nav-link" routerLink="/account" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              >My Account</a
            >
          </li>
        </div>
        <div *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </div>
        <div *ngIf="!isRegistrationPage && !isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/browser" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              >Sign in</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
