<!-- CONTENT -->
<div class="py-5">

</div>
<section class="pt-7 pb-12">
  <div class="container">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-8">

        <!-- Heading -->
<!--
        <h3 class="mb-10 text-center">Contact Us</h3>
-->
        <h4>Meet up point</h4>
        <p>We will be waiting for you on the agreed time in front of the Light House Cinema
          on Smithfield Square. Message us when you would like to return your pieces.</p>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-12 col-md-4 col-xl-3">
        <aside class="mb-9 mb-md-0">

          <!-- Heading -->
          <h6 class="mb-6">
            <i class="fe fe-phone text-primary mr-4"></i> Call to Us:
          </h6>

          <p class="text-gray-500">
            +353 83 095 9559
          </p>
          <!-- Text -->
          <p class="text-gray-500">
            Feel free to also send us a SMS or reach through What’sApp
          </p>
          <!-- Divider -->
          <hr>

          <!-- Heading -->
          <h6 class="mb-6">
            <i class="fe fe-mail text-primary mr-4"></i> Write to Us:
          </h6>

          <!-- Text -->
          <p class="text-gray-500">
            2ndclosetclub@gmail.com

          </p>
          <!-- Text -->
          <p class="text-gray-500">
            Or fill out our form and we will contact you within 48 hours.

          </p>
        </aside>
      </div>
      <div class="col-12 col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.7489768366327!2d-6.281143384161519!3d53.34774957997938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd9ed52583a3557e!2sSmithfield%20Market%20Block%20A%20reception!5e0!3m2!1sen!2sie!4v1651526222571!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </div>
  </div>
</section>

