<nav class="mb-10 mb-md-0">
  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
    <a class="list-group-item list-group-item-action dropright-toggle">
      Orders
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle" routerLink="/base/account/orders">
      Membership
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle" routerLink="/base/account/orders">
      Personal Info
    </a>
    <a class="list-group-item list-group-item-action dropright-toggle"  (click)="logout()">
      Logout
    </a>
  </div>
</nav>
