<section
  class="join-img-fluid"
  id="join"
  data-jarallax
  data-speed=".8"
  xmlns="http://www.w3.org/1999/html"></section>
<div class="container">
  <div class="row">
    <h2 class="text-center" style="font-weight: normal;">We look forward to meeting you this summer</h2>

  </div>
  <br>
  <div class="row">
    <div class="col-8 mx-auto">
      <h3 class="text-center" style="font-weight: normal;">Leave your email to receive updates and invitations
        to the 2nd Closet Club meetings</h3>
    </div>

  </div>
  <br>
  <app-subscribe-bar></app-subscribe-bar>

</div>



