.join-img-fluid {
  background-image: url(../../assets/img/covers/JoinBanner.jpg);
  background-repeat:no-repeat;
  background-color: #ffffff;
  background-position: center;
  height: 150px !important;
}
