<!-- FILTERS -->
<section class="py-7 border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">

      </div>
      <div class="col-12 col-md-auto text-center">

        <!-- Filter -->
        <a class="text-body" data-toggle="collapse" href="#collapseFilter" role="button">
          <i class="fe fe-list mr-2"></i> Filter
        </a>

        <!-- Sort -->
        <div class="dropdown ml-6">
          <!-- Menu -->
          <form class="dropdown-menu">
            <div class="card">
              <div class="card-body">

                <!-- Form group -->
                <div class="form-group-overflow">
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortOne" name="sort" type="radio" value="Default">
                    <label class="custom-control-label" for="sortOne">Default</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortTwo" name="sort" type="radio" value="Newest">
                    <label class="custom-control-label" for="sortTwo">Newest</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortThree" name="sort" type="radio" value="Most Popular">
                    <label class="custom-control-label" for="sortThree">Most Popular</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortFour" name="sort" type="radio" value="Default Price">
                    <label class="custom-control-label" for="sortFour">Default Price</label>
                  </div>
                  <div class="custom-control custom-control-text">
                    <input class="custom-control-input" id="sortFive" name="sort" type="radio" value="Highest Price">
                    <label class="custom-control-label" for="sortFive">Highest Price</label>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- FILTERS (collapse) -->
<section class="collapse" id="collapseFilter">
  <form class="py-7 border-bottom">
    <div class="container">
      <div class="row">
<!--
        <div class="col-12 col-md-3">

          &lt;!&ndash; Heading &ndash;&gt;
          <p class="font-size-lg">
            <strong>Season:</strong>
          </p>

          &lt;!&ndash; Form group &ndash;&gt;
          <div class="form-group form-group-overflow mb-md-0">
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="seasonOne" name="category" type="checkbox" value="Summer">
              <label class="custom-control-label" for="seasonOne">Summer</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="seasonTwo" name="category" type="checkbox" value="Winter">
              <label class="custom-control-label" for="seasonTwo">Winter</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="seasonThree" name="category" type="checkbox" value="Spring & Fall">
              <label class="custom-control-label" for="seasonThree">Spring & Fall</label>
            </div>
          </div>

        </div>
-->
        <div class="col-12 col-md-3">

          <!-- Heading -->
          <p class="font-size-lg">
            <strong>Size:</strong>
          </p>

          <!-- Form group -->
          <div class="form-group form-group-overflow mb-md-0" [formGroup]="searchForm">
              <div *ngFor="let data of Sizes; let i=index" class="custom-control custom-control-inline custom-control-size mb-2">
                <input [value]="data.value" class="custom-control-input form-control" [id]="data.value" (change)="onCheckboxChange($event)" type="checkbox">
                <label class="custom-control-label" [for]="data.value">
                  {{data.name}}
                </label>
              </div>
          </div>
        </div>
<!--        <div class="col-12 col-md-3">

          &lt;!&ndash; Heading &ndash;&gt;
          <p class="font-size-lg">
            <strong>Color:</strong>
          </p>

          &lt;!&ndash; Form group &ndash;&gt;
          <div class="form-group form-group-overflow mb-md-0">
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorOne" type="checkbox">
              <label class="custom-control-label text-dark" for="colorOne"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorTwo" type="checkbox">
              <label class="custom-control-label" style="color: #f9f9f9;" for="colorTwo"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorThree" type="checkbox">
              <label class="custom-control-label text-info" for="colorThree"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorFour" type="checkbox">
              <label class="custom-control-label text-primary" for="colorFour"></label>
            </div> <br>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorFive" type="checkbox">
              <label class="custom-control-label" for="colorFive" style="color: #795548"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorSix" type="checkbox">
              <label class="custom-control-label text-gray-300" for="colorSix"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline mb-3">
              <input class="custom-control-input" id="colorSeven" type="checkbox">
              <label class="custom-control-label" for="colorSeven" style="color: #17a2b8;"></label>
            </div>
            <div class="custom-control custom-control-color custom-control-inline">
              <input class="custom-control-input" id="colorEight" type="checkbox">
              <label class="custom-control-label" for="colorEight" style="color: #e83e8c;"></label>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-3">

          &lt;!&ndash; Heading &ndash;&gt;
          <p class="font-size-lg">
            <strong>Price:</strong>
          </p>

          &lt;!&ndash; Form group&ndash;&gt;
          <div class="form-group form-group-overflow mb-6" id="priceGroup">
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="priceOne" type="checkbox">
              <label class="custom-control-label" for="priceOne">
                $10.00 - $49.00
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="priceTwo" type="checkbox">
              <label class="custom-control-label" for="priceTwo">
                $50.00 - $99.00
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input class="custom-control-input" id="priceThree" type="checkbox">
              <label class="custom-control-label" for="priceThree">
                $100.00 - $199.00
              </label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="priceFour" type="checkbox">
              <label class="custom-control-label" for="priceFour">
                $200.00 and Up
              </label>
            </div>
          </div>

          &lt;!&ndash; Range &ndash;&gt;
          <div class="d-flex align-items-center">

            &lt;!&ndash; Input &ndash;&gt;
            <input type="number" class="form-control form-control-xs" placeholder="$10.00" min="10">

            &lt;!&ndash; Divider &ndash;&gt;
            <div class="text-gray-350 mx-2">‒</div>

            &lt;!&ndash; Input &ndash;&gt;
            <input type="number" class="form-control form-control-xs" placeholder="$350.00" max="350">

          </div>

        </div>-->
      </div>
    </div>
  </form>
</section>
