<!--
 FILTERS
<section class="py-7 border-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md">

      </div>
      <div class="col-12 col-md-auto text-center">

        &lt;!&ndash; Filter &ndash;&gt;
        <a class="text-body" data-bs-toggle="collapse" href="#collapseFilter" role="button">
          <i class="fe fe-list mr-2"></i> Filter
        </a>

        &lt;!&ndash; Sort &ndash;&gt;
        <div class="dropdown ml-6">
          &lt;!&ndash; Menu &ndash;&gt;
          <form class="dropdown-menu">
            <div class="card">
              <div class="card-body">

                &lt;!&ndash; Form group &ndash;&gt;
                <div class="form-group-overflow">
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortOne" name="sort" type="radio" value="Default">
                    <label class="custom-control-label" for="sortOne">Default</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortTwo" name="sort" type="radio" value="Newest">
                    <label class="custom-control-label" for="sortTwo">Newest</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortThree" name="sort" type="radio" value="Most Popular">
                    <label class="custom-control-label" for="sortThree">Most Popular</label>
                  </div>
                  <div class="custom-control custom-control-text mb-3">
                    <input class="custom-control-input" id="sortFour" name="sort" type="radio" value="Default Price">
                    <label class="custom-control-label" for="sortFour">Default Price</label>
                  </div>
                  <div class="custom-control custom-control-text">
                    <input class="custom-control-input" id="sortFive" name="sort" type="radio" value="Highest Price">
                    <label class="custom-control-label" for="sortFive">Highest Price</label>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
-->

<!-- FILTERS (collapse) -->
<section class="collapse" id="collapseFilter">
  <form class="py-7 border-bottom">
    <div class="container">
      <div class="row">
        <!--
                <div class="col-12 col-md-3">

                  &lt;!&ndash; Heading &ndash;&gt;
                  <p class="font-size-lg">
                    <strong>Season:</strong>
                  </p>

                  &lt;!&ndash; Form group &ndash;&gt;
                  <div class="form-group form-group-overflow mb-md-0">
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="seasonOne" name="category" type="checkbox" value="Summer">
                      <label class="custom-control-label" for="seasonOne">Summer</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="seasonTwo" name="category" type="checkbox" value="Winter">
                      <label class="custom-control-label" for="seasonTwo">Winter</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="seasonThree" name="category" type="checkbox" value="Spring & Fall">
                      <label class="custom-control-label" for="seasonThree">Spring & Fall</label>
                    </div>
                  </div>

                </div>
        -->
        <div class="col-12 col-md-3">
          <!-- Heading -->
          <p class="font-size-lg">
            <strong>Size:</strong>
          </p>

          <!--          &lt;!&ndash; Form group &ndash;&gt;
          <div class="form-group form-group-overflow mb-md-0" [formGroup]="searchForm">
            <div *ngFor="let data of Sizes; let i=index"
                 class="custom-control custom-control-inline custom-control-size mb-2">
              <input [value]="data.value" class="custom-control-input form-control" [id]="data.value"
                     (change)="onCheckboxChange($event)" type="checkbox">
              <label class="custom-control-label" [for]="data.value">
                {{data.name}}
              </label>
            </div>
          </div>-->
        </div>
        <div class="col-12 col-md-3">
          <!-- Heading -->
          <p class="font-size-lg">
            <strong>Color:</strong>
          </p>

          <!-- Form group -->
          <div class="form-group form-group-overflow mb-md-0">
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorOne"
                type="checkbox"
              />
              <label
                class="custom-control-label text-dark"
                for="colorOne"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorTwo"
                type="checkbox"
              />
              <label
                class="custom-control-label"
                style="color: #f9f9f9"
                for="colorTwo"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorThree"
                type="checkbox"
              />
              <label
                class="custom-control-label text-info"
                for="colorThree"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorFour"
                type="checkbox"
              />
              <label
                class="custom-control-label text-primary"
                for="colorFour"
              ></label>
            </div>
            <br/>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorFive"
                type="checkbox"
              />
              <label
                class="custom-control-label"
                for="colorFive"
                style="color: #795548"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorSix"
                type="checkbox"
              />
              <label
                class="custom-control-label text-gray-300"
                for="colorSix"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline mb-3"
            >
              <input
                class="custom-control-input"
                id="colorSeven"
                type="checkbox"
              />
              <label
                class="custom-control-label"
                for="colorSeven"
                style="color: #17a2b8"
              ></label>
            </div>
            <div
              class="custom-control custom-control-color custom-control-inline"
            >
              <input
                class="custom-control-input"
                id="colorEight"
                type="checkbox"
              />
              <label
                class="custom-control-label"
                for="colorEight"
                style="color: #e83e8c"
              ></label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <!-- Heading -->
          <p class="font-size-lg">
            <strong>Price:</strong>
          </p>

          <!-- Form group-->
          <div class="form-group form-group-overflow mb-6" id="priceGroup">
            <div class="custom-control custom-checkbox mb-3">
              <input
                class="custom-control-input"
                id="priceOne"
                type="checkbox"
              />
              <label class="custom-control-label" for="priceOne">
                $10.00 - $49.00
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input
                class="custom-control-input"
                id="priceTwo"
                type="checkbox"
              />
              <label class="custom-control-label" for="priceTwo">
                $50.00 - $99.00
              </label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input
                class="custom-control-input"
                id="priceThree"
                type="checkbox"
              />
              <label class="custom-control-label" for="priceThree">
                $100.00 - $199.00
              </label>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                id="priceFour"
                type="checkbox"
              />
              <label class="custom-control-label" for="priceFour">
                $200.00 and Up
              </label>
            </div>
          </div>

          <!-- Range -->
          <div class="d-flex align-items-center">
            <!-- Input -->
            <input
              type="number"
              class="form-control form-control-xs"
              placeholder="$10.00"
              min="10"
            />

            <!-- Divider -->
            <div class="text-gray-350 mx-2">‒</div>

            <!-- Input -->
            <input
              type="number"
              class="form-control form-control-xs"
              placeholder="$350.00"
              max="350"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<section class="pt-7 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Filters -->
        <div class="btn-group-justified btn-group-expand-lg mb-10" role="group" id="myGroup">
          <!--
                    <div class="btn-group dropdown">
                      &lt;!&ndash; Toggle &ndash;&gt;
                      <button
                        class="btn btn-sm btn-block btn-outline-border dropdown-toggle"
                        id="dropdownMenuCategories"
                        data-bs-toggle="dropdown"
                        data-bs-auto-close="outside"
                        aria-expanded="false"
                      >
                        Category
                      </button>

                      &lt;!&ndash; Menu &ndash;&gt;
                      <form class="dropdown-menu">
                        <div class="card">
                          <div class="card-body">
                            &lt;!&ndash; Form group &ndash;&gt;
                            <div
                              class="form-group-overflow"
                              aria-labelledby="dropdownMenuCategories"
                            >
                              <div
                                *ngFor="let data of categories; let i = index"
                                class="custom-control custom-checkbox mb-3"
                              >
                                <input
                                  [value]="data.value"
                                  class="custom-control-input"
                                  [id]="'category-' + data.value"
                                  (change)="categoryChange($event)"
                                  type="checkbox"
                                />
                                <label
                                  class="custom-control-label"
                                  [for]="'category-' + data.value"
                                >
                                  {{ data.name }}
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer d-flex flex-nowrap border-top">
                            &lt;!&ndash; Buttons &ndash;&gt;
                            <button
                              class="btn btn-outline-dark btn-sm"
                              type="submit"
                              (click)="this.clearCategories()"
                              data-bs-toggle="dropdown"
                            >
                              Clear
                            </button>
                            <button
                              class="btn btn-dark btn-sm ml-2"
                              type="submit"
                              (click)="this.filterProducts()"
                              data-bs-toggle="dropdown"
                            >
                              Show Results
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
          -->
          <div class="btn-group dropdown">

            <button
              class="btn btn-sm btn-block btn-outline-border dropdown-toggle"
              type="button" data-bs-target="#filterCategoryContent" data-parent="#myGroup"
              data-bs-auto-close="outside" data-bs-toggle="dropdown"
              aria-controls="filterCategoryContent" aria-label="Toggle navigation"
              [attr.aria-expanded]="!isCategoryCollapsed" (click)="toggelCollapse(1)"
            >
              Category
            </button>
            <form class="collapse dropdown-collapse dropdown-menu" id="filterCategoryContent" [ngbCollapse]="isCategoryCollapsed">
              <div class="card">
                <div class="card-body">
                  <!-- Form group -->
                  <div
                    class="form-group-overflow"
                    aria-labelledby="dropdownMenuCategories"
                  >
                    <div
                      *ngFor="let data of getProductCategories()"
                      class="custom-control custom-checkbox mb-3"
                    >
                      <input
                        [value]="data.id"
                        class="custom-control-input"
                        [id]="'category-' + data.id"
                        (change)="categoryChange($event)"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        [for]="'category-' + data.id"
                      >
                        {{ data.name }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-nowrap border-top">
                  <!-- Buttons -->
                  <button class="btn btn-outline-dark btn-sm" type="reset" (click)="this.clearCategories()"
                          data-bs-toggle="collapse"
                          data-bs-target=".dropdown-collapse.show"
                  >
                    Clear
                  </button>
                  <button
                    class="btn btn-dark btn-sm ml-2"
                    type="button"
                    (click)="this.filterProducts()"
                    data-bs-toggle="collapse"
                    data-bs-target=".dropdown-collapse.show"
                  >
                    Show Results
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="btn-group dropdown">

            <button
              class="btn btn-sm btn-block btn-outline-border dropdown-toggle"
              type="button" data-bs-target="#filterSeasonContent" data-parent="#myGroup"
              data-bs-auto-close="outside" data-bs-toggle="dropdown"
              aria-controls="filterSeasonContent" aria-label="Toggle navigation"
              [attr.aria-expanded]="!isSeasonCollapsed" (click)="toggelCollapse(2)"

            >
              Season
            </button>
            <form class="collapse dropdown-collapse dropdown-menu" id="filterSeasonContent" [ngbCollapse]="isSeasonCollapsed">
              <div class="card">
                <div class="card-body">
                  <!-- Form group -->
                  <div
                    class="form-group-overflow"
                    aria-labelledby="dropdownMenuSeasons"
                  >
                    <div
                      *ngFor="let data of getSeasons()"
                      class="custom-control custom-checkbox mb-3"
                    >
                      <input
                        [value]="data.id"
                        class="custom-control-input"
                        [id]="'season-' + data.id"
                        (change)="seasonChange($event)"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        [for]="'season-' + data.id"
                      >
                        {{ data.name }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-nowrap border-top">
                  <!-- Buttons -->
                  <button class="btn btn-outline-dark btn-sm" type="reset" (click)="this.clearSeasons()"
                          data-bs-toggle="collapse"
                          data-bs-target=".dropdown-collapse.show"
                  >
                    Clear
                  </button>
                  <button
                    class="btn btn-dark btn-sm ml-2"
                    type="button"
                    (click)="this.filterProducts()"
                    data-bs-toggle="collapse"
                    data-bs-target=".dropdown-collapse.show"
                  >
                    Show Results
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="btn-group dropdown">

            <button
              class="btn btn-sm btn-block btn-outline-border dropdown-toggle"
              type="button" data-bs-target="#filterSizeContent" data-parent="#myGroup"
              data-bs-auto-close="outside" data-bs-toggle="dropdown"
              aria-controls="filterSizeContent" aria-label="Toggle navigation"
              [attr.aria-expanded]="!isSizeCollapsed" (click)="toggelCollapse(3)"
            >
              Size
            </button>
            <form class="collapse dropdown-collapse dropdown-menu" id="filterSizeContent" [ngbCollapse]="isSizeCollapsed">
              <div class="card">
                <div class="card-body">
                  <!-- Form group -->
                  <div
                    class="form-group-overflow"
                    aria-labelledby="dropdownMenuSeasons"
                  >
                    <div
                      *ngFor="let data of getSizes()"
                      class="custom-control custom-control-inline custom-control-size mb-2"
                    >
                      <input
                        [value]="data.id"
                        class="custom-control-input"
                        [id]="'size-' + data.id"
                        (change)="sizeChange($event)"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        [for]="'size-' + data.id"
                      >
                        {{ data.name }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-nowrap border-top">
                  <!-- Buttons -->
                  <button class="btn btn-outline-dark btn-sm" type="reset" (click)="this.clearSizes()"
                          data-bs-toggle="collapse"
                          data-bs-target=".dropdown-collapse.show"
                  >
                    Clear
                  </button>
                  <button
                    class="btn btn-dark btn-sm ml-2"
                    type="button"
                    (click)="this.filterProducts()"
                    data-bs-toggle="collapse"
                    data-bs-target=".dropdown-collapse.show"
                  >
                    Show Results
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="btn-group dropdown">

            <button
              class="btn btn-sm btn-block btn-outline-border dropdown-toggle"
              type="button"  data-bs-target="#filterColorContent" data-parent="#myGroup"
              data-bs-auto-close="outside" data-bs-toggle="dropdown"
              aria-controls="filterColorContent" aria-label="Toggle navigation"
              [attr.aria-expanded]="!isColorCollapsed" (click)="toggelCollapse(4)"

            >
              Color
            </button>
            <form class="collapse dropdown-collapse dropdown-menu dropdown-menu-color" id="filterColorContent" [ngbCollapse]="isColorCollapsed">
              <div class="card">
                <div class="card-body pb-2">
                  <!-- Form group -->
                  <div
                    class="form-group-overflow row"
                    aria-labelledby="dropdownMenuColors"
                  >
                    <div
                      *ngFor="let data of getColours()"
                      class="custom-control custom-control-color mb-3 col-6"
                    >
                      <input
                        [value]="data.id"
                        class="custom-control-input form-control"
                        [id]="'color' + data.id"
                        (change)="this.colourChange($event)"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        [ngClass]="'grid-' + data.name"
                        [for]="'color' + data.id"
                      >
                        <span class="text-body"> {{ data.name }}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="card-footer d-flex flex-nowrap border-top">
                  <!-- Buttons -->
                  <button class="btn btn-outline-dark btn-sm" type="reset" (click)="this.clearColors()"
                          data-bs-toggle="collapse"
                          data-bs-target=".dropdown-collapse.show"
                  >
                    Clear
                  </button>
                  <button
                    class="btn btn-dark btn-sm ml-2"
                    type="button"
                    (click)="this.filterProducts()"
                    data-bs-toggle="collapse"
                    data-bs-target=".dropdown-collapse.show"
                  >
                    Show Results
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
