<div *ngIf="this.bookings?.length > 0" class="container pb-10">
  <div class="d-flex flex-row-reverse ">
    <label>
      Status:
      <input type="text" class="custom-input-datatable" (ngModelChange)="this.filterByStatus()"
             [(ngModel)]="this.bookingStatus" [ngModelOptions]="{standalone: true}">
    </label>
  </div>
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>Id</th>
      <th style="display:none;">Status</th>
      <th style="display:none;">Inventory Status</th>
      <th *ngIf="!this.userId!!">User</th>
      <th>Product</th>
      <th>Size</th>
      <th>Pickup Date</th>
      <th>Collection</th>
      <th>Return</th>
      <th>Status</th>
      <th>Inventory Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings" class="text-center">
      <td>{{ booking.id }}</td>
      <td style="display:none;">
        {{ booking.status }}
      </td>
      <td style="display:none;">
        {{ booking.productSize.status }}
      </td>
      <td *ngIf="!this.userId!!">
        <a [routerLink]="['/admin/user', booking.userId]"> {{ booking.userName }}</a>
      </td>
      <td>
        <a [routerLink]="['/admin/product', booking.productId]">{{ booking.productName }}</a>
      </td>
      <td>{{ getSizes()[booking.productSize.id_size].name }}</td>
      <td>{{ booking.startDate | date: "dd/MM/yyyy" }}</td>
      <td>{{ booking.collectionPlace }}</td>
      <td>{{ booking.returnDate | date: "dd/MM/yyyy" }}</td>
      <td>
        <select
          class="form-control"
          id="DropdownOptions"
          (change)="updateStatus($event, booking.id)"
        >
          <option
            *ngFor="let statusName of status.keys()"
            [selected]="statusName === booking.status"
            [value]="statusName"
          >
            {{ statusName }}
          </option>
        </select>
      </td>
      <td>
        <select
          class="form-control"
          (change)="
              updateInventoryStatus(
                $event,
                booking.productSize.id,
                booking.productId
              )
            "
        >
          <option
            *ngFor="let statusName of getInventoryStatus()"
            [selected]="statusName === booking.productSize.status"
            [value]="statusName"
          >
            {{ statusName }}
          </option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
