<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="container">

    <!-- Brand -->
    <img src="assets/img/custom/logo.jpg" alt="logo" class="img-fluid img-logo">


    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLandingCollapse" aria-controls="navbarLandingCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarLandingCollapse">

      <!-- Nav -->
      <ul class="navbar-nav ml-xl-auto">
        <li class="nav-item">
          <a class="nav-link" href="" data-toggle="smooth-scroll">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active" href="#">Shop</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howItWorks" data-toggle="smooth-scroll">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing" data-toggle="smooth-scroll">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-toggle="smooth-scroll">Contact</a>
        </li>
        <div *ngIf="isRegistrationPage">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </div>
        <div *ngIf="!isRegistrationPage">
          <li class="nav-item">
            <a class="nav-link" routerLink="/base/home" routerLinkActive="active" >Login</a>
          </li>
        </div>

      </ul>

    </div>

  </div>
</nav>
